@use '../variables';
@use '../mixins';

.container {
    @include mixins.container;

    &--on-top-app-bar {
        padding-top: 12.4rem;

        @media screen and (min-width: variables.$screen-lg) {
            padding-top: 14rem;
        }
    }

    &--screen {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }
}