@use '../variables';

.icon-button {
  display: flex;
  width: 4.8rem;
  height: 4.8rem;
  margin-left: -1.2rem;
  border-radius: 9999px;
  border: none;
  cursor: pointer;
  
  &:hover {
    background-color: var(--color-divider);
  }

  @media screen and (min-width: variables.$screen-lg) {
    display: none;
  }
  
  &__icon {
    width: 2.4rem;
    height: auto;
    margin: auto;
    fill: var(--color-secondary-text);
    transition: fill 150ms;
  }
}