@use '../variables';

.hamburger-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 9999px;
  background-color: rgba(0, 0, 0, 0.1);
  border: none;
  cursor: pointer;
  transition: background-color 150ms;
  
  @media screen and (min-width: 1024px) {
    display: none;
  }
  
  &--on-dark {
    background-color: rgba(255, 255, 255, 0.1);
  }
  
  &__line {
    width: 2rem;
    height: 0.2rem;
    background-color: #475569;
    transition: background-color 150ms;
    margin-bottom: 0.4rem;
    
    &:last-child {
      margin-bottom: 0;
    }

    .hamburger-button--on-dark & {
      background-color: variables.$color-surface;
    }
  }
}