@use '../variables';

.icon-button {
  display: flex;
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 9999px;
  background-color: rgba(0, 0, 0, 0.1);
  border: none;
  cursor: pointer;
  transition: background-color 150ms;
  
  @media screen and (min-width: variables.$screen-lg) {
    display: none;
  }
  
  &--on-dark {
    background-color: rgba(255, 255, 255, 0.1);
  }
  
  &__icon {
    width: 2.4rem;
    height: 2.4rem;
    margin: auto;
    fill: var(--color-secondary-text);
    transition: fill 150ms;

    .icon-button--on-dark & {
      fill: var(--color-surface);
    }
  }
}