$color-primary-text: #111827;
$color-secondary-text: #6b7280;
$color-primary: #16a34a;
$color-secondary: #06b6d4;
$color-background: #f1f5f9;
$color-surface: #fff;

$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 1024px;
$screen-xl: 1200px;

$container-sm: 540px;
$container-md: 720px;
$container-lg: 960px;
$container-xl: 1140px;